<h2 class="mt-5"><%= @title %> (<%= @users.count %>)</h2>
<div class="row">
  <% @users.each do |u| %>
    <div class="col-12 col-md-6 col-lg-3 my-1">
      <%= image_tag u.avatar, class: "avatar" %>
      <span class=<%= "text-green" if u.online %>><%= u.full_name %></span>
      <%= link_to profil_path(u.slug) do %>
        <i class="fa-solid fa-eye"></i>
      <% end %>
    </div>
  <% end %>
</div>
