<div class="container my-5">
  <h1><%= title %></h1>
  <%= simple_form_for(house, remote: remote) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  label: "Nom",
                  input_html: { autocomplete: "name" } %>
      <%= f.input :address,
                  required: true,
                  label: "Adresse",
                  input_html: { autocomplete: "address", data: { address_autocomplete_target: "address" }, class: "d-none" },
                  wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }} %>
    </div>

    <div class="form-errors alert-warning">
      <ul id="helpBlock" class="d-none"></ul>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sauvegarder", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
