<div class="container my-5" id="<%= dom_id(user, 'houseIndex') %>">
  <h1>Gestion de mes maisons</h1>
  <p class="mb-5"><%= link_to "+ Ajouter une maison", new_house_path, remote: true, class: "btn btn-primary", data: { "bs-toggle" => "modal", "bs-target" => "#staticBackdrop" } %></p>

  <%= form_tag url: houses_search_path, method: :get do %>
    <div class="d-flex">
      <%= text_field_tag :query,
          params[:query],
          class: "form-control w-25",
          placeholder: "Filtre par adresse ou par nom" %>
      <%= button_tag type: "submit", class: "btn btn-primary" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>

  <div class="row mb-5 mt-2">
    <% houses.each do |house| %>
      <%= render(HouseCardComponent.new(house: house)) %>
    <% end %>
  </div>
</div>
