<div class="container my-5" id="<%= dom_id(user, 'houseIndex') %>">
  <h1>Gestion de mes maisons</h1>
  <p><%= link_to "+ Ajouter une maison", new_house_path, remote: true, class: "btn btn-primary", data: { "bs-toggle" => "modal", "bs-target" => "#staticBackdrop" } %></p>

  <%= form_tag houses_search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Adresse ou Nom"
    %>
    <%= submit_tag "Recherche", class: "btn btn-primary w-100 my-4" %>
  <% end %>

  <div class="row mt-5">
    <% houses.each do |house| %>
      <%= render(HouseCardComponent.new(house: house)) %>
    <% end %>
  </div>
</div>
