<div class="container my-5 w-100" id="<%= dom_id(user, 'houseIndex') %>">
  <h1><%= t('house.index.title') %></h1>
  <p class="mb-5"><%= link_to t('house.new'), new_house_path, remote: true, class: "btn btn-primary", data: { "bs-toggle" => "modal", "bs-target" => "#staticBackdrop" } %></p>

  <%= form_with url: search_houses_path, method: :get do %>
    <div class="d-flex">
      <%= text_field_tag :query,
          params[:query],
          class: "form-control w-25",
          placeholder: t('house.index.search') %>
      <%= button_tag type: "submit", class: "btn btn-primary" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>

  <%= link_to houses_path, class: "btn btn-primary", title: t('house.index.reset_search') do %>
    <i class="fas fa-redo-alt"></i>
  <% end %>

  <div class="row mb-5 mt-2">
    <% houses.each do |house| %>
      <%= render(HouseCardComponent.new(house: house)) %>
    <% end %>
  </div>
</div>
