<div class="container my-5">
  <h2 class="text-left"><%= t('house.list') %></h2>

  <table class="table table-hover table-responsive text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t('house.form.name') %></th>
        <th scope="col"><%= t('house.form.address') %></th>
        <th scope="col"><%= t('house.form.user') %></th>
      </tr>
    </thead>
    <tbody>
      <% @houses.each do |house| %>
        <tr>
          <td><%= house.name %></td>
          <td><%= house.address %></td>
          <td><%= house.user_full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
