<div class="container my-5">
  <p class="pop-title"><%= @house.name %></p>
  <p class="pop-time"><%= @house.created_at.strftime("ajouté le %d-%m-%Y") %></p>
  <p class="pop-user"><%= @house.address %></p>
  <p><%= @house.description.blank? ? "<em>Aucune description</em>".html_safe : @house.description %></p>
  <br>
  <% if @house.photos.attached? %>
    <% @house.photos.each do |photo| %>
      <%= link_to rails_blob_path(photo), target: "_blank" do %>
        <%= image_tag photo, height: 50, width: 50, class: "m-1" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <div><%= link_to "Retour", :back %></div>
</div>
