<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-2">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'apple-icon.png' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Afficher le menu de navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Utilisateurs", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle text-decoration-none" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.avatar.attached? ? current_user.avatar : "empty-avatar.png", class: "avatar-large" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", profil_path(current_user.slug), class: "dropdown-item" %>
            <%= link_to "Mes maisons", houses_path, class: "dropdown-item" %>
            <%= link_to "Modifier mon compte", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <hr class="dropdown-divider">
            <% if current_user.role.admin? %>
              <%= link_to "Sidekiq", sidekiq_path, class: "dropdown-item", target: "_blank" %>
              <%= link_to "Maintenance tasks", maintenance_tasks_path, class: "dropdown-item", target: "_blank" %>
              <%= link_to "Letter Opener", letter_opener_path, class: "dropdown-item", target: "_blank" %>
            <% end %>
            <%= link_to "API Swagger", swagger_api_path, class: "dropdown-item", target: "_blank" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
