<div class="container text-center">
  <h1 class="my-5"><%= t('user.profile.title', slug: @user.pseudo) %></h1>
  <%= image_tag @user.avatar, class: "avatar" %>
  <span class=<%= "text-green" if @user.online %>><%= @user.full_name %></span>

  <div class="my-5">
    <h2><%= t('user.profile.houses') %></h2>
    <% if current_user.present? && current_user == @user %>
      <%= link_to t('user.profile.manage_houses'), houses_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @houses_geocoded.empty? %>
    <em>Aucune</em>
  <% else %>
    <div style="width: 100%; height: 600px;"
        class="mb-5"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-locale-value="<%= I18n.locale %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>
</div>
