<div class="container text-center">
  <h1 class="my-5">Profil de <%= @user.pseudo %></h1>
  <%= image_tag @user.avatar, class: "avatar" %>
  <span class=<%= "text-green" if @user.online %>><%= @user.full_name %></span>

  <div class="d-flex justify-content-between align-items-center my-5">
    <h2>Ses maisons</h2>
    <div></div>
    <%= link_to "Gérer mes maisons", houses_path, class: "btn btn-primary" %>
  </div>
  <% if @houses_geocoded.empty? %>
    <em>Aucune</em>
  <% else %>
    <div style="width: 100%; height: 600px;"
        class="mb-5"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>
</div>
